body {
  background-color: #f0f8ff; /* Light blue background */
  color: #333; /* Dark text color */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4682b4; /* Steel blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: #2b6cb0; /* Darker blue */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #f0f8ff; /* Light blue text */
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #ffebcd; /* Blanched almond */
}

h1 {
  color: #2b6cb0; /* Darker blue */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #ffffff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th {
  background-color: #4682b4; /* Steel blue */
  color: white;
  padding: 10px;
}

table td {
  padding: 10px;
  border: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f0f8ff; /* Light blue */
}

button {
  background-color: #4682b4; /* Steel blue */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5a9bd4; /* Lighter steel blue */
}
